---
- name: 配置用户和安装软件
  hosts: all
  become: true
  # gather_facts: true
  environment: "{{ reverse_tunnel_proxy_env | default({}) }}"

  pre_tasks:
    - name: 建立反向隧道并设置代理
      when: enable_proxy | default(false)
      block:
        - name: 导入反向隧道角色的启动任务
          ansible.builtin.import_role:
            name: reverse_tunnel
            tasks_from: start
        - name: 测试Google的访问，并输出内容
          ansible.builtin.uri:
            url: https://www.google.com
            return_content: true
            status_code:
              - 200
          register: google_test
        - name: 显示Google测试结果
          ansible.builtin.debug:
            msg: "Google访问成功，内容：{{ google_test.content | truncate(100) }}"

  post_tasks:
    - name: 清理反向隧道
      ansible.builtin.import_role:
        name: reverse_tunnel
        tasks_from: stop
      when: reverse_tunnel_started

  roles:
    - role: init-server
      vars:
        user_name: "{{ username }}"
        user_password: "12345" # 覆盖默认密码
    - role: docker
      vars:
        docker_add_repo: true
        docker_users:
          - "{{ username }}"
    - role: docker_proxy
      when: enable_proxy | default(false)
